
:root{
    --gray : rgb(185, 185, 185);
    --lgray : rgb(112, 110, 110);
    --agray:rgba(112, 110, 110,.2);
    --hov:rgb(161, 161, 161);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif,serif;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    transition: all .3 ease;
}
body {
    width:100%;
}
.nav i{
    display: none;
}
.nav{
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
    z-index: 2;
}
.logo{
    font-size: 35px;
    color: var(--lgray);
}
.link a{
    padding: 0 10px;
    font-size: 20px;
    color:var(--lgray);
    transition: all .3s ease;
}
.link a:hover{
    color: var(--hov);
}
.btn,.con-btn{
    padding: 10px 40px;
    background-color:var(--lgray) ;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    border: 2px solid var(--lgray);
    text-align: center;
}
.btn:hover,.con-btn:hover{
    background-color: white;
    color: var(--lgray);
    box-shadow: 0 0 50px white;
}
.home{
    text-align: center;
    width: 100%;
    display: flex;
    background: url(ReturnBookFrameBg.png)  no-repeat center;
    background-size:cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
.cdnt{
    padding-bottom: 20px;
    font-size: 55px;
    color: white;
}
.about{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    flex-direction: column;
    color: var(--lgray);
}
.abt-tit{
    font-size: 40px;
    padding: 30px;
}
.about p{
   text-align: justify; 
   font-size: 25px;
}
.skill{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--lgray) ;
    gap: 10px;
}
.box{
    padding: 40px;
    width: 30vw;
    background-color: white;
    border-radius: 20px;
    color: var(--lgray);
}
.box:hover{
    box-shadow: 0 0 50px white;
}
.box h2{
    padding: 5px 0;
    text-align: center;
}
.box p{
    padding: 20px 0;
}
.con{
    position: fixed;
    width: 500px;
    height: 100%;
    top: 0;
    left: -800px;
    background-color: white;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    border:2px solid var(--lgray) ;
    transition: all 1.5s ease;
    border-top-right-radius: 30px;
}
.con.active{
    left:0;
}
.con-tit{
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: rgb(112, 110, 110);
}
.con-content:nth-child(n){
    padding: 20px;    
}
.con-content:nth-child(n)::placeholder{
    color: var(--lgray);
}
.input{
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    height: 30px;
    border: 2px solid var(--lgray);
    outline: none;
}
.area{
    height: 150px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--lgray);
    padding: 10px;
}
.close{
    width: 10px;
    height: 10px;
    padding: 20px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.project{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5%;
}
.pro-list{
    width: 28vw;
    height: 35vh;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: end;
    border: 2px solid var(--gray);
    border-radius: 5px;
}
#p1{
    background: url(lms.jpg)center no-repeat;
    background-size: cover;
}
.pro-list h4{
    color: var(--lgray);
}
.pro-list a{
    padding: 5px 10px;
    background-color: var(--lgray);
    color: white;
    border: 2px solid var(--lgray);
    border-radius: 10px;
}
.pro-list a:hover{
    background-color: white;
    color:var(--lgray);
}
.footer{
    min-height: 20vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:768px){
    .nav i{
        display: block;
        font-size: 25px;
    }
    .abt-tit{
        font-size: 30px;
    }
    .home{
        padding: 10px;
    }
    .about{
        padding-top: 10%;
    }
    .about p{
        font-size: 1.5rem;
    }
    .skill{
        padding: 20% 3%;
    }
    .box{
        width: 97%;
    }
    .link{
        position: fixed;
        display: flex;
        top:60px;
        justify-content: center;
        gap: 10px;
        left: -70%;
        flex-direction: column;
        background-color: var(--lgray);
        width: 70%;
        height:100%;   
        transition: all .3s ease;
        padding: 10px;
    }
    .link.active{
        left: 0;
    }
    .link a{
        color: white;
        font-size: 30px;
        padding: 10px 20px;
        border: 2px solid transparent;
        border-radius: 10px;
    }
    .link a:hover{
        border: 2px solid var(--gray);
        background-color: var(--agray) ;
    }
    .pro-list{
        width: 80vh;
    }
    .con{
        width: 100%;
    }

}





